body {
  font-family: "Arial", "Meiryo", sans-self;
}
html {
  font-size: 20px;
}
.blue {
  color: skyblue;
}
.pink {
  color: rgb(255, 192, 203);
}
.blue, .pink,  #basic {
  font-family: ;<link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
}