#top {
  width: 800px;
  width: 100%;
  background-color:  #dcc9f4;
  margin: 20px;
  margin: 0 auto;
}
.topchild {
  width: 20%;
  background-color: #ffd9df;
  display: inline-block;
}

#middle {
  width: 800px;
  height: 800px;
}

